In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_2015 = pd.read_csv('marathon_results_2015.csv')
df_2016 = pd.read_csv('marathon_results_2016.csv')
df_2017 = pd.read_csv('marathon_results_2017.csv')
df = pd.concat([df_2015,df_2016,df_2017])

In [3]:
original_row_count = len(df)

In [4]:
# perform sampling random sampling (Selecting 1/10th of the recoords)

sample_df = df.sample(frac=0.1,random_state=42) # ensures same records every time 
sample_row_count = len(sample_df)

print(df.head())
print(sample_df.head())

   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]
       Unnamed: 0    Bib                 Name  Age M/F            City State  \
24038     24038.0  31350    Labonte, Laura R.   34   F     Charlestown    MA
20218     20218.0  21352        Vargas, Mario   64   M  Shaker Heights    OH
23755     23755.0  27235  Wilkins, Stephen D.   53   M      Dorchester    MA
1447       1447.0   4337     Johnson, David T   32   M         Brandon    FL
25121         NaN  26089       Bashor, Mari W   67   F      Sacramento    CA

      Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
24038     USA     NaN        NaN  ...  3:22:19  3:56:22  4:29:25  0:10:49
20218     USA     NaN        NaN  ...  2:52:26  3:24:14  3:54:58  0:09:28
23755     USA     NaN        NaN  ...  3:14:37  3:49:59  4:24:08  0:10:40
1447      USA     NaN        NaN  ...  2:00:46  2:21:31  2:43:11  0:06:39
25121     USA     NaN        NaN  ...  3:35:49  4:17:13  4:56:18  0:11:58

      Proj Time Official Time Overall Gender Division Unnamed: 8
24038         -       4:43:30   24039  10561     5235        NaN
20218         -       4:08:04   20219  11836      568        NaN
23755         -       4:39:30   23756  13348     1896        NaN
1447          -       2:54:17    1448   1376     1108        NaN
25121   5:13:34       5:13:34   25121  11285       87        NaN

[5 rows x 26 columns]

In [5]:
# print the no of rows in the original and sampled df

print(original_row_count)
print(sample_row_count)

79638
7964