In [1]:
import pandas as pd

In [2]:
df_2015 = pd.read_csv('marathon_results_2015.csv')
df_2016 = pd.read_csv('marathon_results_2016.csv')
df_2017 = pd.read_csv('marathon_results_2017.csv')
df = pd.concat([df_2015,df_2016,df_2017])

In [3]:
original_row_count = len(df)

In [4]:
# ::7 means from the start ot the end, pick every 7th record, : means all columns

sample_df = df.iloc[::7,:]
sample_row_count = len(sample_df)

In [5]:
print(df.head())
print(sample_df.head())

   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]
    Unnamed: 0  Bib                  Name  Age M/F               City State  \
0          0.0    3        Desisa, Lelisa   25   M               Ambo   NaN
7          7.0    1       Keflezighi, Meb   39   M          San Diego    CA
14        14.0   76         Goffi, Danilo   42   M  Parabiago - Milan   NaN
21        21.0   32  Zywicki, Benjamin P.   26   M         Louisville    CO
28        28.0  106          Glaz, Daniel   32   M            Chicago    IL

   Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
0      ETH     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56
7      USA     NaN        NaN  ...  1:31:59  1:47:59  2:04:58  0:05:04
14     ITA     NaN        NaN  ...  1:38:02  1:54:55  2:11:25  0:05:18
21     USA     NaN        NaN  ...  1:38:46  1:56:05  2:13:25  0:05:24
28     USA     NaN        NaN  ...  1:42:19  1:59:50  2:17:03  0:05:32

   Proj Time Official Time Overall Gender Division Unnamed: 8
0          -       2:09:17       1      1        1        NaN
7          -       2:12:42       8      8        8        NaN
14         -       2:18:44      15     15        1        NaN
21         -       2:21:10      22     22       21        NaN
28         -       2:24:44      29     29       27        NaN

[5 rows x 26 columns]

In [6]:
print(original_row_count)
print(sample_row_count)

79638
11377