In [1]:
import pandas as pd

In [2]:
df_2015 = pd.read_csv('marathon_results_2015.csv')
df_2016 = pd.read_csv('marathon_results_2016.csv')
df_2017 = pd.read_csv('marathon_results_2017.csv')
df = pd.concat([df_2015,df_2016,df_2017])

In [4]:
original_row_count = len(df)

In [3]:
total_males = len(df[df['M/F']== 'M'])
total_females = len(df[df['M/F']== 'F'])

In [5]:
sample_size = int(0.1* original_row_count)
sample_males = int(0.1*total_males)
sample_females = int(0.1*total_females)
print(sample_size,sample_males,sample_females)

7963 4348 3615

In [6]:
# generate proportionate samples of males and females athletes

males_sample = df[df['M/F']=='M'].sample(n=sample_males,random_state=42)
females_sample = df[df['M/F']=='F'].sample(n=sample_females,random_state=42)
print(len(males_sample),len(females_sample))

4348 3615

In [7]:
# combine the male and female samples into a single sample dataframe

sample_df = pd.concat([males_sample,females_sample])
sample_row_count = len(sample_df)
print(df.head())
print(sample_df.head())

   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]
       Unnamed: 0    Bib                Name  Age M/F           City State  \
17164     17164.0   5919   Pucci, Ferdinando   36   M         Quincy    MA
23023         NaN  28464     Burns, Shawn M.   44   M       Pembroke    MA
2331          NaN   2338       Sauvola, Lars   41   M         Rindge    NH
6577       6577.0   9603  Burns, Jonathan M.   47   M  Mechanicsburg    PA
17054     17054.0   5434      Benjamin, Elad   40   M        Raanana   NaN

      Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
17164     USA     NaN        NaN  ...  2:23:12  3:00:12  3:46:17  0:09:27
23023     USA     NaN        NaN  ...  3:10:08  3:48:26  4:25:25  0:10:46
2331      USA     NaN        NaN  ...  2:10:14  2:33:48  2:56:56  0:07:08
6577      USA     NaN        NaN  ...  2:16:58  2:41:11  3:06:37  0:07:34
17054     ISR     NaN        NaN  ...  2:40:03  3:08:50  3:38:39  0:08:52

      Proj Time Official Time Overall Gender Division Unnamed: 8
17164         -       4:07:27   17166  10390     3796        NaN
23023   4:41:59       4:41:59   23023  12863     1835        NaN
2331    3:06:43       3:06:43    2332   2154      335        NaN
6577          -       3:18:23    6578   5654      850        NaN
17054         -       3:52:28   17055  10576     1657        NaN

[5 rows x 26 columns]

In [8]:
print(original_row_count)
print(sample_row_count)

79638
7963

In [9]:
print(f'Number of male athletes in the sample dataframe : {len(sample_df[sample_df['M/F']=='M'])}')
print(f'Number of female athletes in the sample dataframe : {len(sample_df[sample_df['M/F']=='F'])}')

Number of male athletes in the sample dataframe : 4348
Number of female athletes in the sample dataframe : 3615

In [10]:
print(f'Number of male athletes in the sample dataframe : {len(males_sample)}')
print(f'Number of female athletes in the sample dataframe : {len(females_sample)}')

Number of male athletes in the sample dataframe : 4348
Number of female athletes in the sample dataframe : 3615