In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('titanic.csv')
df.head()

   survived  pclass  gender   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [7]:
total_passengers = len(df)
survived_count = len(df[df['survived']==1])
female_count = len(df[df['gender']=='female'])
female_survived_count = len(df[(df['gender']=='female') & (df['survived']==1)])
P_survived = survived_count/total_passengers
P_female = female_count/total_passengers
P_female_given_survived = female_survived_count/survived_count

In [8]:
# Apply Bayes's Theorem
P_survived_given_female = P_female_given_survived*P_survived/P_female
print(P_survived_given_female)

0.7420382165605095

In [9]:
df1 = pd.read_csv('loan_approval_dataset.csv')
df1.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [11]:
N = len(df1)
A = len(df1[df1['loan_status'] == 'Approved'])
B = len(df1[df1['cibil_score'] >= 700])

# P_A_given__B = ??

A_and_B = len(df1[(df1['loan_status'] == 'Approved') & (df1['cibil_score'] >= 700)])

In [ ]:
P_A = A/N    # Probability of Loan is approved
P_B = B/N    # Probability of Good Credit Score
P_A_and_B = A_and_B/N   # Probability that Loan is approved with Good Credit Score
P_B_given_A = P_A_and_B/P_A     # Probability that it was a Good Credit Score, given that Loan is approved
P_A_given__B = P_B_given_A*P_A/P_B    # Probability that loan will be approved, given that it was a good credit score  

P_A_given__B

0.9951048951048951

In [ ]:
# Two new customers walk in, one with CIBIL score 800, another with 500
# Find Probability that it was a Bad Credit Score, given that loan is approved
# That is, P_B_bar_given_A = ??
# P_B_bar_given_A = P_A_given_B_bar * P_B_bar / P_A
# P_A_given_B_bar = P_A_and_B_bar / P_B_bar

P_B_bar = 1 - P_B    # Probability of a Bad Credit Score
A_and_B_bar = len(df1[(df1['loan_status'] == 'Approved') & (df1['cibil_score'] < 700)])
P_A_and_B_bar = A_and_B_bar/N
P_A_given_B_bar = P_A_and_B_bar / P_B_bar
P_B_bar_given_A = P_A_given_B_bar * P_B_bar / P_A

print(P_A_given__B)
print(P_A_given_B_bar)

0.9951048951048951
0.43430785487847834