In [ ]:
# Paired t-test: A comapny has launched some offer.
# H0: Pre and post usage is the same (i.e., offer not effective).

from scipy.stats import ttest_rel
from math import sqrt # for calculating critical value
from scipy.stats import t
import pandas as pd

In [2]:
df = pd.read_csv('cust_seg.csv')
df.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [3]:
usage_data = df[['pre_usage', 'Post_usage_1month']]
usage_data = usage_data.sample(n=30)

test_stat, p_value = ttest_rel(usage_data['pre_usage'], usage_data['Post_usage_1month'])

print('P-Value: ', p_value)

P-Value:  0.841774859519736

In [4]:
if p_value < 0.05:
    print("Reject H0")
else:
    print("Fail to Reject H0")

Fail to Reject H0