In [1]:
import numpy as np
import pandas as pd

# ------------------------------------------------------------
# 1. Creating a Random Score Matrix
# ------------------------------------------------------------

np.random.seed(101)                    # Set seed for reproducibility
scores = np.random.randint(0, 101, (4, 3))   # 4 rows, 3 columns (scores 0–100)
print(scores)

[[95 11 81]
 [70 63 87]
 [75  9 77]
 [40  4 63]]

In [2]:
# ------------------------------------------------------------
# 2. Creating DataFrames in Multiple Ways
# ------------------------------------------------------------

players = ['Virat', 'Rohit', 'MSDhoni', 'KL.Rahul']
matches = ['Match1', 'Match2', 'Match3']

# DataFrame with default row/column labels
df = pd.DataFrame(data=scores)
print(df)

# DataFrame with custom row labels
df = pd.DataFrame(data=scores, index=players)
print(df)

# DataFrame with custom rows + custom column labels
df = pd.DataFrame(data=scores, index=players, columns=matches)
print(df)

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63
           0   1   2
Virat     95  11  81
Rohit     70  63  87
MSDhoni   75   9  77
KL.Rahul  40   4  63
          Match1  Match2  Match3
Virat         95      11      81
Rohit         70      63      87
MSDhoni       75       9      77
KL.Rahul      40       4      63

In [3]:
# ------------------------------------------------------------
# 3. Basic DataFrame Information
# ------------------------------------------------------------

print(df.info())       # Info about DataFrame structure

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Virat to KL.Rahul
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Match1  4 non-null      int64
 1   Match2  4 non-null      int64
 2   Match3  4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes
None

In [4]:
# ------------------------------------------------------------
# 4. Loading and Exploring a CSV File
# ------------------------------------------------------------

df = pd.read_csv('tips.csv')   # Load dataset
print(df.columns)              # Column names
print(df.index)                # Row index range
print(df.head(3))              # First 3 rows
print(df.tail(2))              # Last 2 rows
print(df.info())               # Column info, data types, nulls
print(len(df))                 # Number of rows
print(df.describe())           # Statistical summary
print(df.describe().transpose())  # Summary transposed for readability

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')
RangeIndex(start=0, stop=244, step=1)
   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
     total_bill   tip  gender smoker   day    time  size  price_per_person  \
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

          Payer Name     CC Number Payment ID
242     Dennis Dixon  4.375220e+12      Sat17
243  Michelle Hardin  3.511450e+15    Thur672
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   gender            244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    float64
 10  Payment ID        244 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 21.1+ KB
None
244
       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563495e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040732e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525320e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596450e+15
                  count          mean           std           min  \
total_bill        244.0  1.978594e+01  8.902412e+00  3.070000e+00
tip               244.0  2.998279e+00  1.383638e+00  1.000000e+00
size              244.0  2.569672e+00  9.510998e-01  1.000000e+00
price_per_person  244.0  7.888197e+00  2.914234e+00  2.880000e+00
CC Number         244.0  2.563495e+15  2.369340e+15  6.040679e+10

                           25%           50%           75%           max
total_bill        1.334750e+01  1.779500e+01  2.412750e+01  5.081000e+01
tip               2.000000e+00  2.900000e+00  3.562500e+00  1.000000e+01
size              2.000000e+00  2.000000e+00  3.000000e+00  6.000000e+00
price_per_person  5.800000e+00  7.255000e+00  9.390000e+00  2.027000e+01
CC Number         3.040732e+13  3.525320e+15  4.553675e+15  6.596450e+15

In [5]:
# ------------------------------------------------------------
# 5. Formatting Output Display
# ------------------------------------------------------------

pd.set_option('display.float_format', '{:.0f}'.format)   # No decimals
print(df)

     total_bill  tip  gender smoker   day    time  size  price_per_person  \
0            17    1  Female     No   Sun  Dinner     2                 8
1            10    2    Male     No   Sun  Dinner     3                 3
2            21    4    Male     No   Sun  Dinner     3                 7
3            24    3    Male     No   Sun  Dinner     2                12
4            25    4  Female     No   Sun  Dinner     4                 6
..          ...  ...     ...    ...   ...     ...   ...               ...
239          29    6    Male     No   Sat  Dinner     3                10
240          27    2  Female    Yes   Sat  Dinner     2                14
241          23    2    Male    Yes   Sat  Dinner     2                11
242          18    2    Male     No   Sat  Dinner     2                 9
243          19    3  Female     No  Thur  Dinner     2                 9

             Payer Name        CC Number Payment ID
0    Christy Cunningham 3560330000000000    Sun2959
1        Douglas Tucker 4478070000000000    Sun4608
2        Travis Walters 6011810000000000    Sun4458
3      Nathaniel Harris 4676140000000000    Sun5260
4          Tonya Carter 4832730000000000    Sun2251
..                  ...              ...        ...
239       Michael Avila 5296070000000000    Sat2657
240      Monica Sanders 3506810000000000    Sat1766
241          Keith Wong 6011890000000000    Sat3880
242        Dennis Dixon    4375220000000      Sat17
243     Michelle Hardin 3511450000000000    Thur672

[244 rows x 11 columns]

In [6]:
# ------------------------------------------------------------
# 6. Creating New Columns
# ------------------------------------------------------------

df['price_per_person'] = np.round(df['price_per_person'], 2)   # Round to 2 decimals
print(df.head())

   total_bill  tip  gender smoker  day    time  size  price_per_person  \
0          17    1  Female     No  Sun  Dinner     2                 8
1          10    2    Male     No  Sun  Dinner     3                 3
2          21    4    Male     No  Sun  Dinner     3                 7
3          24    3    Male     No  Sun  Dinner     2                12
4          25    4  Female     No  Sun  Dinner     4                 6

           Payer Name        CC Number Payment ID
0  Christy Cunningham 3560330000000000    Sun2959
1      Douglas Tucker 4478070000000000    Sun4608
2      Travis Walters 6011810000000000    Sun4458
3    Nathaniel Harris 4676140000000000    Sun5260
4        Tonya Carter 4832730000000000    Sun2251

In [8]:
# ------------------------------------------------------------
# 7. Dropping Columns
# ------------------------------------------------------------

df = df.drop('CC Number', axis=1)   # axis=1 → drop column
print(df.head())

# (Alternative)
# df.drop('tip_percentage', axis=1, inplace=True)

   total_bill  tip  gender smoker  day    time  size  price_per_person  \
0          17    1  Female     No  Sun  Dinner     2                 8
1          10    2    Male     No  Sun  Dinner     3                 3
2          21    4    Male     No  Sun  Dinner     3                 7
3          24    3    Male     No  Sun  Dinner     2                12
4          25    4  Female     No  Sun  Dinner     4                 6

           Payer Name Payment ID
0  Christy Cunningham    Sun2959
1      Douglas Tucker    Sun4608
2      Travis Walters    Sun4458
3    Nathaniel Harris    Sun5260
4        Tonya Carter    Sun2251

In [9]:
# ------------------------------------------------------------
# 8. Setting and Resetting Index
# ------------------------------------------------------------

df = df.set_index('Payment ID')
print(df.head())

df = df.reset_index()   # Bring index back as a normal column
print(df.head())

            total_bill  tip  gender smoker  day    time  size  \
Payment ID
Sun2959             17    1  Female     No  Sun  Dinner     2
Sun4608             10    2    Male     No  Sun  Dinner     3
Sun4458             21    4    Male     No  Sun  Dinner     3
Sun5260             24    3    Male     No  Sun  Dinner     2
Sun2251             25    4  Female     No  Sun  Dinner     4

            price_per_person          Payer Name
Payment ID
Sun2959                    8  Christy Cunningham
Sun4608                    3      Douglas Tucker
Sun4458                    7      Travis Walters
Sun5260                   12    Nathaniel Harris
Sun2251                    6        Tonya Carter
  Payment ID  total_bill  tip  gender smoker  day    time  size  \
0    Sun2959          17    1  Female     No  Sun  Dinner     2
1    Sun4608          10    2    Male     No  Sun  Dinner     3
2    Sun4458          21    4    Male     No  Sun  Dinner     3
3    Sun5260          24    3    Male     No  Sun  Dinner     2
4    Sun2251          25    4  Female     No  Sun  Dinner     4

   price_per_person          Payer Name
0                 8  Christy Cunningham
1                 3      Douglas Tucker
2                 7      Travis Walters
3                12    Nathaniel Harris
4                 6        Tonya Carter

In [10]:
# ------------------------------------------------------------
# 9. Boolean Filtering (Row Selection)
# ------------------------------------------------------------

print(df['total_bill'] < 30)              # Boolean Series (True/False)
print(df[df['total_bill'] < 30])          # Filter rows where bill < 30

print(df[df['gender'] == 'Male'])         # Male customers

# AND condition
print(df[(df['total_bill'] < 30) & (df['gender'] == 'Male')])

# NOT (~) operator
print(df[(df['total_bill'] < 30) & ~(df['gender'] == 'Male')])

# OR condition
print(df[(df['total_bill'] < 30) | (df['tip'] > 5)])

0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: total_bill, Length: 244, dtype: bool
    Payment ID  total_bill  tip  gender smoker   day    time  size  \
0      Sun2959          17    1  Female     No   Sun  Dinner     2
1      Sun4608          10    2    Male     No   Sun  Dinner     3
2      Sun4458          21    4    Male     No   Sun  Dinner     3
3      Sun5260          24    3    Male     No   Sun  Dinner     2
4      Sun2251          25    4  Female     No   Sun  Dinner     4
..         ...         ...  ...     ...    ...   ...     ...   ...
239    Sat2657          29    6    Male     No   Sat  Dinner     3
240    Sat1766          27    2  Female    Yes   Sat  Dinner     2
241    Sat3880          23    2    Male    Yes   Sat  Dinner     2
242      Sat17          18    2    Male     No   Sat  Dinner     2
243    Thur672          19    3  Female     No  Thur  Dinner     2

     price_per_person          Payer Name
0                   8  Christy Cunningham
1                   3      Douglas Tucker
2                   7      Travis Walters
3                  12    Nathaniel Harris
4                   6        Tonya Carter
..                ...                 ...
239                10       Michael Avila
240                14      Monica Sanders
241                11          Keith Wong
242                 9        Dennis Dixon
243                 9     Michelle Hardin

[212 rows x 10 columns]
    Payment ID  total_bill  tip gender smoker  day    time  size  \
1      Sun4608          10    2   Male     No  Sun  Dinner     3
2      Sun4458          21    4   Male     No  Sun  Dinner     3
3      Sun5260          24    3   Male     No  Sun  Dinner     2
5      Sun9679          25    5   Male     No  Sun  Dinner     4
6      Sun5985           9    2   Male     No  Sun  Dinner     2
..         ...         ...  ...    ...    ...  ...     ...   ...
236    Sat5032          13    1   Male    Yes  Sat  Dinner     2
237    Sat2929          33    1   Male    Yes  Sat  Dinner     2
239    Sat2657          29    6   Male     No  Sat  Dinner     3
241    Sat3880          23    2   Male    Yes  Sat  Dinner     2
242      Sat17          18    2   Male     No  Sat  Dinner     2

     price_per_person          Payer Name
1                   3      Douglas Tucker
2                   7      Travis Walters
3                  12    Nathaniel Harris
5                   6          Erik Smith
6                   4  Kristopher Johnson
..                ...                 ...
236                 6       Matthew Myers
237                16        Thomas Brown
239                10       Michael Avila
241                11          Keith Wong
242                 9        Dennis Dixon

[157 rows x 10 columns]
    Payment ID  total_bill  tip gender smoker  day    time  size  \
1      Sun4608          10    2   Male     No  Sun  Dinner     3
2      Sun4458          21    4   Male     No  Sun  Dinner     3
3      Sun5260          24    3   Male     No  Sun  Dinner     2
5      Sun9679          25    5   Male     No  Sun  Dinner     4
6      Sun5985           9    2   Male     No  Sun  Dinner     2
..         ...         ...  ...    ...    ...  ...     ...   ...
235    Sat4615          10    1   Male     No  Sat  Dinner     2
236    Sat5032          13    1   Male    Yes  Sat  Dinner     2
239    Sat2657          29    6   Male     No  Sat  Dinner     3
241    Sat3880          23    2   Male    Yes  Sat  Dinner     2
242      Sat17          18    2   Male     No  Sat  Dinner     2

     price_per_person          Payer Name
1                   3      Douglas Tucker
2                   7      Travis Walters
3                  12    Nathaniel Harris
5                   6          Erik Smith
6                   4  Kristopher Johnson
..                ...                 ...
235                 5       Sean Gonzalez
236                 6       Matthew Myers
239                10       Michael Avila
241                11          Keith Wong
242                 9        Dennis Dixon

[132 rows x 10 columns]
    Payment ID  total_bill  tip  gender smoker   day    time  size  \
0      Sun2959          17    1  Female     No   Sun  Dinner     2
4      Sun2251          25    4  Female     No   Sun  Dinner     4
14     Sun3848          15    3  Female     No   Sun  Dinner     2
16     Sun9715          10    2  Female     No   Sun  Dinner     3
18     Sun2789          17    4  Female     No   Sun  Dinner     3
..         ...         ...  ...     ...    ...   ...     ...   ...
225    Fri6665          16    2  Female    Yes   Fri   Lunch     2
226    Fri6359          10    2  Female    Yes   Fri   Lunch     2
229    Sat3943          22    3  Female    Yes   Sat  Dinner     2
240    Sat1766          27    2  Female    Yes   Sat  Dinner     2
243    Thur672          19    3  Female     No  Thur  Dinner     2

     price_per_person          Payer Name
0                   8  Christy Cunningham
4                   6        Tonya Carter
14                  7       Vanessa Jones
16                  3    Elizabeth Foster
18                  6      Laura Martinez
..                ...                 ...
225                 8      Whitney Arnold
226                 5          Ruth Weiss
229                11    Jennifer Russell
240                14      Monica Sanders
243                 9     Michelle Hardin

[80 rows x 10 columns]
    Payment ID  total_bill  tip  gender smoker   day    time  size  \
0      Sun2959          17    1  Female     No   Sun  Dinner     2
1      Sun4608          10    2    Male     No   Sun  Dinner     3
2      Sun4458          21    4    Male     No   Sun  Dinner     3
3      Sun5260          24    3    Male     No   Sun  Dinner     2
4      Sun2251          25    4  Female     No   Sun  Dinner     4
..         ...         ...  ...     ...    ...   ...     ...   ...
239    Sat2657          29    6    Male     No   Sat  Dinner     3
240    Sat1766          27    2  Female    Yes   Sat  Dinner     2
241    Sat3880          23    2    Male    Yes   Sat  Dinner     2
242      Sat17          18    2    Male     No   Sat  Dinner     2
243    Thur672          19    3  Female     No  Thur  Dinner     2

     price_per_person          Payer Name
0                   8  Christy Cunningham
1                   3      Douglas Tucker
2                   7      Travis Walters
3                  12    Nathaniel Harris
4                   6        Tonya Carter
..                ...                 ...
239                10       Michael Avila
240                14      Monica Sanders
241                11          Keith Wong
242                 9        Dennis Dixon
243                 9     Michelle Hardin

[221 rows x 10 columns]

In [11]:
# ------------------------------------------------------------
# 10. Using isin() for Multiple Values
# ------------------------------------------------------------

options = ['Sat', 'Sun']
print(df[df['day'].isin(options)])    # Filter rows where day is Sat or Sun

    Payment ID  total_bill  tip  gender smoker  day    time  size  \
0      Sun2959          17    1  Female     No  Sun  Dinner     2
1      Sun4608          10    2    Male     No  Sun  Dinner     3
2      Sun4458          21    4    Male     No  Sun  Dinner     3
3      Sun5260          24    3    Male     No  Sun  Dinner     2
4      Sun2251          25    4  Female     No  Sun  Dinner     4
..         ...         ...  ...     ...    ...  ...     ...   ...
238    Sat9777          36    5  Female     No  Sat  Dinner     3
239    Sat2657          29    6    Male     No  Sat  Dinner     3
240    Sat1766          27    2  Female    Yes  Sat  Dinner     2
241    Sat3880          23    2    Male    Yes  Sat  Dinner     2
242      Sat17          18    2    Male     No  Sat  Dinner     2

     price_per_person          Payer Name
0                   8  Christy Cunningham
1                   3      Douglas Tucker
2                   7      Travis Walters
3                  12    Nathaniel Harris
4                   6        Tonya Carter
..                ...                 ...
238                12      Kimberly Crane
239                10       Michael Avila
240                14      Monica Sanders
241                11          Keith Wong
242                 9        Dennis Dixon

[163 rows x 10 columns]

In [13]:
# ------------------------------------------------------------
# 11. Multiple Ways to Filter Rows (Equivalent)
# ------------------------------------------------------------

filtered1 = df[(df['gender'] == 'Female') & (df['tip'] >= 4)]
filtered2 = df.query("gender == 'Female' and tip >= 4")
filtered3 = df.loc[(df['gender'] == 'Female') & (df['tip'] >= 4)]
filtered4 = df.where((df['gender'] == 'Female') & (df['tip'] >= 4))

print(filtered1)

    Payment ID  total_bill  tip  gender smoker   day    time  size  \
11     Sun6686          35    5  Female     No   Sun  Dinner     4
52     Sun6165          35    5  Female     No   Sun  Dinner     4
73     Sat6065          25    5  Female    Yes   Sat  Dinner     2
85    Thur7972          35    5  Female     No  Thur   Lunch     4
93     Fri6963          16    4  Female    Yes   Fri  Dinner     2
104    Sat3194          21    4  Female     No   Sat  Dinner     2
109    Sat2614          14    4  Female    Yes   Sat  Dinner     2
114    Sun6492          26    4  Female     No   Sun  Dinner     3
125   Thur3948          30    4  Female     No  Thur   Lunch     6
143   Thur6179          27    5  Female     No  Thur   Lunch     6
155    Sun9176          30    5  Female     No   Sun  Dinner     5
178    Sun4598          10    4  Female    Yes   Sun  Dinner     2
191    Thur967          20    4  Female    Yes  Thur   Lunch     2
197   Thur9313          43    5  Female    Yes  Thur   Lunch     4
214    Sat3374          28    6  Female    Yes   Sat  Dinner     3
238    Sat9777          36    5  Female     No   Sat  Dinner     3

     price_per_person           Payer Name
11                  9         Diane Macias
52                  9         Emily Daniel
73                 13         Julie Holmes
85                  9          Shawna Cook
93                  8       Natalie Nguyen
104                10  Gabrielle Frederick
109                 7      Amanda Anderson
114                 9          Katie Smith
125                 5       Angela Sanchez
143                 5         Regina Jones
155                 6       Madison Wilson
178                 5         Melanie Gray
191                10          Kristy Boyd
197                11          Brooke Soto
214                 9      Marissa Jackson
238                12       Kimberly Crane

In [14]:
print(filtered2)

    Payment ID  total_bill  tip  gender smoker   day    time  size  \
11     Sun6686          35    5  Female     No   Sun  Dinner     4
52     Sun6165          35    5  Female     No   Sun  Dinner     4
73     Sat6065          25    5  Female    Yes   Sat  Dinner     2
85    Thur7972          35    5  Female     No  Thur   Lunch     4
93     Fri6963          16    4  Female    Yes   Fri  Dinner     2
104    Sat3194          21    4  Female     No   Sat  Dinner     2
109    Sat2614          14    4  Female    Yes   Sat  Dinner     2
114    Sun6492          26    4  Female     No   Sun  Dinner     3
125   Thur3948          30    4  Female     No  Thur   Lunch     6
143   Thur6179          27    5  Female     No  Thur   Lunch     6
155    Sun9176          30    5  Female     No   Sun  Dinner     5
178    Sun4598          10    4  Female    Yes   Sun  Dinner     2
191    Thur967          20    4  Female    Yes  Thur   Lunch     2
197   Thur9313          43    5  Female    Yes  Thur   Lunch     4
214    Sat3374          28    6  Female    Yes   Sat  Dinner     3
238    Sat9777          36    5  Female     No   Sat  Dinner     3

     price_per_person           Payer Name
11                  9         Diane Macias
52                  9         Emily Daniel
73                 13         Julie Holmes
85                  9          Shawna Cook
93                  8       Natalie Nguyen
104                10  Gabrielle Frederick
109                 7      Amanda Anderson
114                 9          Katie Smith
125                 5       Angela Sanchez
143                 5         Regina Jones
155                 6       Madison Wilson
178                 5         Melanie Gray
191                10          Kristy Boyd
197                11          Brooke Soto
214                 9      Marissa Jackson
238                12       Kimberly Crane

In [15]:
print(filtered3)

    Payment ID  total_bill  tip  gender smoker   day    time  size  \
11     Sun6686          35    5  Female     No   Sun  Dinner     4
52     Sun6165          35    5  Female     No   Sun  Dinner     4
73     Sat6065          25    5  Female    Yes   Sat  Dinner     2
85    Thur7972          35    5  Female     No  Thur   Lunch     4
93     Fri6963          16    4  Female    Yes   Fri  Dinner     2
104    Sat3194          21    4  Female     No   Sat  Dinner     2
109    Sat2614          14    4  Female    Yes   Sat  Dinner     2
114    Sun6492          26    4  Female     No   Sun  Dinner     3
125   Thur3948          30    4  Female     No  Thur   Lunch     6
143   Thur6179          27    5  Female     No  Thur   Lunch     6
155    Sun9176          30    5  Female     No   Sun  Dinner     5
178    Sun4598          10    4  Female    Yes   Sun  Dinner     2
191    Thur967          20    4  Female    Yes  Thur   Lunch     2
197   Thur9313          43    5  Female    Yes  Thur   Lunch     4
214    Sat3374          28    6  Female    Yes   Sat  Dinner     3
238    Sat9777          36    5  Female     No   Sat  Dinner     3

     price_per_person           Payer Name
11                  9         Diane Macias
52                  9         Emily Daniel
73                 13         Julie Holmes
85                  9          Shawna Cook
93                  8       Natalie Nguyen
104                10  Gabrielle Frederick
109                 7      Amanda Anderson
114                 9          Katie Smith
125                 5       Angela Sanchez
143                 5         Regina Jones
155                 6       Madison Wilson
178                 5         Melanie Gray
191                10          Kristy Boyd
197                11          Brooke Soto
214                 9      Marissa Jackson
238                12       Kimberly Crane

In [16]:
print(filtered4)

    Payment ID  total_bill  tip gender smoker  day time  size  \
0          NaN         NaN  NaN    NaN    NaN  NaN  NaN   NaN
1          NaN         NaN  NaN    NaN    NaN  NaN  NaN   NaN
2          NaN         NaN  NaN    NaN    NaN  NaN  NaN   NaN
3          NaN         NaN  NaN    NaN    NaN  NaN  NaN   NaN
4          NaN         NaN  NaN    NaN    NaN  NaN  NaN   NaN
..         ...         ...  ...    ...    ...  ...  ...   ...
239        NaN         NaN  NaN    NaN    NaN  NaN  NaN   NaN
240        NaN         NaN  NaN    NaN    NaN  NaN  NaN   NaN
241        NaN         NaN  NaN    NaN    NaN  NaN  NaN   NaN
242        NaN         NaN  NaN    NaN    NaN  NaN  NaN   NaN
243        NaN         NaN  NaN    NaN    NaN  NaN  NaN   NaN

     price_per_person Payer Name
0                 NaN        NaN
1                 NaN        NaN
2                 NaN        NaN
3                 NaN        NaN
4                 NaN        NaN
..                ...        ...
239               NaN        NaN
240               NaN        NaN
241               NaN        NaN
242               NaN        NaN
243               NaN        NaN

[244 rows x 10 columns]

In [17]:
# ------------------------------------------------------------
# 12. Sorting Data
# ------------------------------------------------------------

# Sort by 'total_bill' ascending
sorted_by_bill = df.sort_values(by='total_bill').head(5)
print(sorted_by_bill)

# Sort by day (A–Z) and then total_bill (descending)
sorted_by_bill = df.sort_values(by=['day', 'total_bill'], 
                                ascending=[True, False])
print(sorted_by_bill.head(10))

    Payment ID  total_bill  tip  gender smoker   day    time  size  \
67     Sat3455           3    1  Female    Yes   Sat  Dinner     1
92     Fri3780           6    1  Female    Yes   Fri  Dinner     2
111    Sat4801           7    1  Female     No   Sat  Dinner     1
172    Sun9209           7    5    Male    Yes   Sun  Dinner     2
149   Thur6321           8    2    Male     No  Thur   Lunch     2

     price_per_person      Payer Name
67                  3   Tiffany Brock
92                  3    Leah Ramirez
111                 7     Terri Jones
172                 4     Larry White
149                 4  Daniel Robbins
    Payment ID  total_bill  tip  gender smoker  day    time  size  \
95     Fri9628          40    5    Male    Yes  Fri  Dinner     4
90     Fri4175          29    3    Male    Yes  Fri  Dinner     2
96     Fri3159          27    4    Male    Yes  Fri  Dinner     2
94     Fri2318          23    3  Female     No  Fri  Dinner     2
91     Fri5700          22    4    Male     No  Fri  Dinner     2
98      Fri144          21    3    Male    Yes  Fri  Dinner     2
93     Fri6963          16    4  Female    Yes  Fri  Dinner     2
225    Fri6665          16    2  Female    Yes  Fri   Lunch     2
223    Fri6014          16    3  Female     No  Fri   Lunch     3
101    Fri8382          15    3  Female    Yes  Fri  Dinner     2

     price_per_person      Payer Name
95                 10   Aaron Bentley
90                 14    Daniel Mason
96                 14     Eric Carter
94                 11     Jamie Garza
91                 11       Earl Horn
98                 10      Michael Li
93                  8  Natalie Nguyen
225                 8  Whitney Arnold
223                 5     Mary Rivera
101                 8   Tiffany Colon